.hot-deals
  &__slider
    position: relative
    padding-top: 287px
    width: 100%
    height: 800px
    background: url(../img/slider_hot-deals_1.jpg) no-repeat
  &__subtitle
    @include subtitle
    color: #e53935
    margin-bottom: 22px
  &__title
    @include title-h1
    margin-bottom: 34px
  &__text
    width: 464px
    height: 38px
    font-size: 14px
    font-weight: 300
    font-style: normal
    letter-spacing: normal
    color: #6c6c6c
    overflow: hidden
    margin-bottom: 32px
